<h1>Listing Matrices</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
 
  <% @matrices.each do |matrix| %>
    <tr>
      <td><%= matrix.name %></td>
      <td><%= link_to '[ show ] ', matrix_path(matrix) %></td>
      <td><%= link_to '[ delete ]', matrix_path(matrix),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<hr>

[ <%= link_to 'New matrix', new_matrix_path %> ]