<style>
.field_with_errors {
	background-color: red;
}
</style>

<h1>New Matrix</h1>

<%= form_for :matrix, url: matrices_path(@matrix) do |f| %>
	<%= render 'form' %>
<% end %>

<%= link_to 'Back', matrices_path %>