<h1>Matrix Maker</h1>
<p>Create a matrix for solving logic puzzles</p>
<%= link_to 'All matrices', controller: 'matrices' %><br/>
<%= link_to 'Create a new matrix', new_matrix_path %><br/>
<a href="http://mymatrix.herokuapp.com/">Alpha version</a>

<br/><br/><br/><br/><br/><br/>
<hr/>

<a href="mailto:livcg1+matrixmaker@gmail.com">Q's?</a>