// Place all the styles related to the matrices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.matrix {
	border: 1px solid black;
	border-collapse: collapse;
}

tr.oddRowGroup td.oddColumnGroup,
tr.evenRowGroup td.evenColumnGroup {
    background-color: lightgray;
}

table.matrix td.cell {
	text-align: center;
}

