// Place all the styles related to the matrices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 10px 20px 10px 20px;
}

table.matrix {
	border: 1px solid black;
	border-collapse: collapse;
}

table.matrix th,
table.matrix td {
	padding: 2px;
}

tr.oddRowGroup td.oddColumnGroup:not(.hover),
tr.evenRowGroup td.evenColumnGroup:not(.hover) {
    background-color: lightgray;
}

table.matrix tr.header th {
	text-align: center;	
}

table.matrix th:not(.hover) {
	background-color: #C6E4EE;
}

table.matrix th.option:not(.hover) {
	background-color: lightblue;
}

table.matrix th.vertical {
	text-align: left;
}

.floatingHeader {
  position: 	fixed;
  top: 			0;
  visibility: 	hidden;
}

table.matrix td.cell {
	width: 25px;
	text-align: center;
}

table.matrix tr:hover td, tr:hover th, td.hover, th.hover {
	background-color: #FFFF66;
}

table#moves {
	border: 1px solid black;
	border-collapse: collapse;
}

table#moves td {
	border: 1px solid black;
	border-collapse: collapse;
	vertical-align: top;
}

